
body {
    margin: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #333; 
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  
  nav ul li {
    margin: 0 15px;
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
  }
  
  
  /* Sections*/
  .section {
    border: 3px solid gray; 
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
  }
  
  .section h2 {
    color: white; 
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section p {
    color: rgb(145, 136, 136); 
    margin-bottom: 20px;
  }
  
   button {
    background-color: #666869; 
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  } 
  
  
  /* Section Background Colors */
  .first {
    background-color: #2a2a38;
  }
  
  .second {
    background-color: #2b233b; 
  }
  
  .third {
    background-color: #121733;
  }
  
  /* Image Styling */
  img {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc; 
    border-radius: 10px;
  }